<div id="newGameScreen">
    <form name="frmNewGame" class="pure-form pure-form-aligned" (ngSubmit)="startGame()" #newGameForm="ngForm">
        <fieldset>
            <div class="pure-control-group">
                <label for="playerName">Player</label>
                <input id="playerName" type="text" placeholder="Votre nom" name="playerName" #playerName="ngModel" [(ngModel)]="newGame.player.name" required autofocus>
                <span *ngIf="playerName.invalid && playerName.dirty && playerName.errors.required" class="pure-form-message-inline">This is a required field.</span>
            </div>
            <div class="pure-control-group">
                <label for="universityName">Université</label>
                <input id="universityName" type="text" name="universityName" placeholder="Le nom de l'université" #universityName="ngModel" [(ngModel)]="newGame.university.name" required>
                <span *ngIf="universityName.invalid && universityName.dirty && universityName.errors.required" class="pure-form-message-inline">This is a required field.</span>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary" [disabled]="!newGameForm.form.valid">Jouer</button>
            </div>
        </fieldset>
    </form>
</div>