#loadGameMenu {}

#loadGameMenu li {
    list-style: none;
    padding: 10px 10px 10px 10px;
    border: solid 1px lightgrey;
    margin-top: 2px;
    text-align: left;
}

#loadGameMenu li:hover {
    border-color: lightblue;
    background-color: lightblue;
    cursor: pointer;
}