#inGameMenuModal .modal-content {
    width: 10%;
}

#inGameMenuModal .modal-content li {
    list-style: none;
    text-align: center;
}

#inGameMenuModal .modal-content button {
    width: 100%;
    margin-top: 3px;
}