.dialog {
    position: fixed;
    left: 0;
    top: 20px;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow: auto;
}

.dialog-content {
    background-color: white;
    margin: auto;
    width: 50%;
    border: solid 2px lightcoral;
    -moz-box-shadow: 10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow: 10px 10px 5px 0px #656565;
    box-shadow: 10px 10px 5px 0px #656565;
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}